@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	color: #4c4951;
}

body {
	padding: 8px 18px;
}

h2 {
	font-size: 32px;
	margin-bottom: 14px;
}

p {
	font-size: 14px;
}

.fa-solid, fa-house-chimney {
	padding-right: 12px;
}

.contents {	
width: 380px;
height: 100vh;
height: 100svh;
background-color: white;
margin:0 auto 64px;
display: flex;
flex-direction: column;
justify-content: start;
text-align: center;
}

span {
	font-size: 20px;
	margin-top: 4px;
	font-weight: bold;
}

button {
	display: inline-block;
	padding: 8px 14px;
	font-size: 12px;
	color: #ece7e9;
	border: none;
	border-radius: 25px;
	background-color: #9a9c97;
	margin-top: 62px;
	cursor: pointer;
}

button:hover {
	opacity: .7;
}

@media (min-width: 496px) {
	
	body {
		padding-top: 40px;
	}
	
	.contents {
		text-align: center;
		width: 450px;
		height: 380px;
		margin: 0 auto;
		justify-content: center;
		border: solid 1px #a83d49;
		border-radius: 18px;
	}
	
	h2 {
		margin-bottom: 32px;
	}
}





